
source/*/bin/
source/*/obj/
source/packages/
server/*.suo
source/buildreports/

source/test-results.xml
*.user
source/bin/
nunit-result.xml
*.swp
source/coverage
buildreports
source/.vs/config/applicationhost.config
source/OpenCover/

source/.vs/TimeTracker/config/applicationhost.config

source/.vs/TimeTracker/v16/.suo

source/TimeTracker.Persistence/ApplicationDbContext.dgml

source/.vs/TimeTracker/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest

source/TimeTracker.Domain.Tests/Auth/.editorconfig

source/.vscode/launch.json
source/.vs/TimeTracker/project-colors.json
source/.vs/TimeTracker/v17/.futdcache.v1
source/.vs/TimeTracker/v17/.suo
source/.vs/TimeTracker/v17/HierarchyCache.v1.txt
